@import './reset.css';
@import './bootstrap.min.css';
@import url('https://fonts.googleapis.com/css2?family=Revalia&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.nav-list {
  display: flex;
  align-items: center;
  margin-top: 57px;
}
.nav-item {
  margin-right: 42px;
}

.nav-link {
  white-space: nowrap;
  outline: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.1em;
  color: #000000;
  text-transform: uppercase;
}

.nav-link:hover {
  font-weight: 500;
  color: #34547a;
}
.logo {
  color: #34547a;
  font-family: Revalia;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 60px;
}

.rectangle {
  width: 100vw;
  height: 10%;
  background: #eeeff1;
}
section {
  display: flex;
  justify-content: space-around;
  margin-top: 162px !important;
}
.frame-wrapper {
  width: 357px;
  height: 233.7px;
}

.content-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 79px;
  color: #000000;
}

.content-paragraph {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  margin-top: 60px;
  color: #727272;
}
.public-btn {
  width: 225px;
  height: 65px;
  background: #34547a;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.1em;
  border: none;
  color: #ffffff;
  margin-top: 60px;
}
